APP_URL=
DATABASE_URL=
ENABLE_SIMULATOR=
GEMINI_API_KEY=
GITHUB_TOKEN=
NODE_ENV=
PGDATABASE=
PGHOST=
PGPASSWORD=
PGPORT=
PGUSER=
PORT=3000
POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_URL=
POSTGRES_USER=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
REDIS_URL=
SIMULATOR_ENABLED=
SMTP_FROM_EMAIL=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
